![Data Dunkers Banner](https://github.com/Data-Dunkers/lessons/blob/main/images/top-banner.jpg?raw=true)

<a href="https://hub.callysto.ca/jupyter/hub/user-redirect/git-pull?repo=https%3A%2F%2Fgithub.com%2Fdata-dunkers%2Flessons&branch=main&subPath=select-a-player&depth=1" target="_parent"><img src="https://raw.githubusercontent.com/Data-Dunkers/lessons/main/images/open-in-callysto-button.svg?sanitize=true" width="123" height="24" alt="Open in Callysto"/></a>
<a href="https://colab.research.google.com/github/data-dunkers/lessons/blob/main/select-a-player.ipynb" target="_parent"><img src="https://raw.githubusercontent.com/Data-Dunkers/lessons/main/images/open-in-colab-button.svg?sanitize=true" width="123" height="24" alt="Open in Colab"/></a>

# Data Dunkers Lesson: Finding the Top Players

## What we will do

By the end of this lesson, students will be able to:

- Use filtering techniques to find the top three players for your team of 3.

## Import / Input

Again, we will import [pandas](https://pandas.pydata.org/) to read data from a [CSV file](https://en.wikipedia.org/wiki/Comma-separated_values).

In [8]:
import pandas as pd

# URL of the CSV file containing data for Pascal Siakam
url = 'https://raw.githubusercontent.com/Data-Dunkers/data/refs/heads/main/WNBA/wnba_player_stats_2023.csv'

# Read the CSV file into a pandas DataFrame
df = pd.read_csv(url)

# Display the DataFrame
display(df)

,Name,POS,GP,MIN,PTS,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,FT%,REB,AST,STL,BLK,TO,Year
0,Jewell Loyd,G,38,35.4,24.7,7.5,20.3,37.0,3.0,8.5,35.6,6.7,7.5,88.8,4.7,3.4,1.0,0.4,2.8,2023
1,Breanna Stewart,F,40,34.1,23.0,7.9,17.0,46.5,2.1,5.8,35.5,5.1,6.0,85.1,9.3,3.8,1.5,1.6,1.5,2023
2,A'ja Wilson,C,40,30.7,22.8,8.4,15.0,55.7,0.2,0.7,31.0,5.8,7.2,81.2,9.5,1.6,1.4,2.2,1.6,2023
3,Napheesa Collier,F,37,33.5,21.5,8.0,16.6,48.5,0.9,3.1,29.8,4.5,5.4,84.0,8.5,2.5,1.6,1.2,2.4,2023
4,Arike Ogunbowale,G,40,37.2,21.2,7.5,18.8,39.8,2.9,8.5,34.3,3.4,3.8,87.6,3.4,4.5,1.7,0.1,2.6,2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103,Maya Caldwell,G,30,10.1,1.9,0.7,2.4,29.2,0.1,1.0,13.8,0.4,0.5,85.7,0.9,0.6,0.3,0.1,0.7,2023
104,Kadi Sissoko,F,40,8.4,1.5,0.6,1.6,37.1,0.1,0.5,16.7,0.3,0.4,62.5,1.6,0.2,0.1,0.1,0.7,2023
105,Sydney Colson,G,28,4.8,1.3,0.4,1.0,44.4,0.2,0.6,37.5,0.2,0.2,83.3,0.4,0.8,0.3,0.0,0.2,2023
106,Jocelyn Willoughby,G,29,6.6,1.2,0.4,1.0,40.0,0.2,0.6,43.8,0.1,0.1,100.0,0.8,0.4,0.1,0.0,0.3,2023
107,Leigha Brown,G,25,5.2,0.8,0.3,1.0,30.8,0.0,0.4,10.0,0.2,0.2,66.7,0.8,0.4,0.2,0.1,0.4,2023

### Glossary
Now let's look at the different stat categories we can sort by.
| Stat | Description                       | Stat | Description                              |
|------|-----------------------------------|------|------------------------------------------|
| Name | Player's full name                | FGA  | Field goals attempted per game           |
| POS  | Player's position                 | FG%  | Field goal percentage                    |
| GP   | Games played                      | 3PM  | Three-point field goals made per game    |
| MIN  | Minutes played per game           | 3PA  | Three-point field goals attempted per game|
| PTS  | Points scored per game            | 3P%  | Three-point field goal percentage        |
| FGM  | Field goals made per game         | FTM  | Free throws made per game                |
| FTA  | Free throws attempted per game    | REB  | Rebounds per game                        |
| FT%  | Free throw percentage             | AST  | Assists per game                         |
| STL  | Steals per game                   | BLK  | Blocks per game                          |
| TO   | Turnovers per game                |      |                                          |

## Top Players?

Now let's look at the top players from different categories to see which three players you want on your team.

In [11]:
# Define the three statistical categories you want to analyze
stat1 = 'YOURSTAT1'      # Replace with your desired stat
stat2 = 'YOURSTAT1'    # Replace with your desired stat
stat3 = 'YOURSTAT1'     # Replace with your desired stat

# Number of players to display
n_players = 8

def show_multiple_stats(stat1, stat2, stat3, n=8):
    """
    Display top n players for three different statistical categories
    
    Parameters:
    stat1, stat2, stat3 (str): Names of the statistical columns to rank by
    n (int): Number of players to display for each category (default=8)
    """
    # Check if all columns exist
    for stat in [stat1, stat2, stat3]:
        if stat not in df.columns:
            print(f"Error: '{stat}' is not a valid column name")
            return
    
    # Create DataFrames for each stat
    top_stat1 = df[['Name', 'POS', stat1]].sort_values(by=stat1, ascending=False).head(n)
    top_stat2 = df[['Name', 'POS', stat2]].sort_values(by=stat2, ascending=False).head(n)
    top_stat3 = df[['Name', 'POS', stat3]].sort_values(by=stat3, ascending=False).head(n)
    
    # Print results with clear separation
    print(f"\nTop {n} Players by {stat1}:")
    print("-" * 50)
    display(top_stat1)
    
    print(f"\nTop {n} Players by {stat2}:")
    print("-" * 50)
    display(top_stat2)
    
    print(f"\nTop {n} Players by {stat3}:")
    print("-" * 50)
    display(top_stat3)

# Run the analysis with the defined statistics
show_multiple_stats(stat1, stat2, stat3, n_players)

Top 8 Players by GP:
--------------------------------------------------

                  Name POS  GP
52          Sug Sutton   G  40
26        Ezi Magbegor   C  40
31       Tiffany Hayes   G  40
34       Jonquel Jones   F  40
40   Courtney Williams   G  40
41       Erica Wheeler   G  40
42  Elizabeth Williams   C  40
43       Sami Whitcomb   G  40

Top 8 Players by PTS:
--------------------------------------------------

               Name POS   PTS
0       Jewell Loyd   G  24.7
1   Breanna Stewart   F  23.0
2       A'ja Wilson   C  22.8
3  Napheesa Collier   F  21.5
4  Arike Ogunbowale   G  21.2
5    Nneka Ogwumike   F  19.1
6    Kahleah Copper   G  18.7
7       Kelsey Plum   G  18.7

Top 8 Players by FG%:
--------------------------------------------------

                   Name POS   FG%
92       Brianna Turner   F  65.0
55         Kalani Brown   C  62.9
24        Aliyah Boston   F  57.8
11      Brittney Griner   C  56.0
2           A'ja Wilson   C  55.7
32       Teaira McCowan   C  55.1
81  Olivia Nelson-Ododa   F  53.7
34        Jonquel Jones   F  52.7

---
*Report issues or give us feedback about this notebook [here](https://docs.google.com/forms/d/e/1FAIpQLSdMRX2hPqZyD8-argFJXxB3ABQdLk3aUH1CAfmMEtcFAlWzCw/viewform?usp=pp_url&entry.1771525592=Module%20Resources%20%28the%20Jupyter%20notebooks%2C%20PPTS%20or%20additional%20resources%29&entry.1364186163=Filtering%20Our%20Data).*


---
Back to [Lessons](https://github.com/pbeens/Data-Dunkers/blob/main/Lessons.ipynb)

---